body {
	background: linear-gradient(250deg, #198DBF, #115E7F, #22BCFF, #072633, #1EA9E5);
    font-size:30px;
	line-height: 40px;
	color: white;
}
.main {
	margin:100px auto 0;
    max-width:1000px;
}

.mepic {
	float: right;
    width: 35%;
}
h1 {
	font-size:120px;
	line-height: 100px;
}
h2 {
	font-size:60px;
	line-height: 100px;
	margin:25px 25px;
	clear: both;
}
a {
	color: white;
}
ul, ol {
	padding-left:100px;
}
.place {
	width:45%;
	padding:0 5% 0 0;
	float: left;
}
td,th {
	padding:15px;
	text-align: left;
}
img {
	max-width:100%;
	height:auto;
}
thead{
	background-color: rgba(000, 000, 000, 0.6);
}
tbody{background-color: rgba(000, 000, 000, 0.4);
}
#container {
  margin: auto;
  background: grey;
  height: 350px;
  overflow: hidden;
}

#slider {
  width: 300%;
  left: 0%;
  position: relative;
  padding-top: 25%;
  transition: left 500ms ease-in;
}

.slide {
  position: absolute;
  top: 0;
  width: 33.33%;
  height: 350px;
  background-size: cover;
  background-position: 50%;
}

#slide1 {
  background-image: url(img/me.jpg);
  left: 0%;
}

#slide2 {
  background: green;
  background-image: url(img/me3.jpg);
  left: 33.33%;
}

#slide3 {
  background: blue;
  background-image: url(img/me2.jpg);
  left: 66.66%;
}